<!DOCTYPE html>
<html lang="en">

<head>
    <title>HMS医疗导航系统</title>
    <link href="static/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/pages/google-vector-map.css" rel="stylesheet">
    <link href="static/css/colors/default-dark.css" id="theme" rel="stylesheet">
    <link href="static/dist/style.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
    <script src="static/js/all.min.js" crossorigin="anonymous"></script>
    <script src="static/assets/plugins/jquery/jquery.min.js"></script>
    <script src="static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="static/js/waves.js"></script>
    <script src="static/js/sidebarmenu.js"></script>
    <script src="static/js/custom.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/jquery.dataTables.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://unpkg.com/pinyin-pro@3.18.2/dist/index.js"></script>
    <script src="static/js/map/datatables.js"></script>
    <script src="static/js/map/graph.js"></script>
    <script src="static/js/map/medicine.js"></script>
</head>

<body class="fix-header card-no-border fix-sidebar">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">HMS</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <b>
                            <img src="static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <span>
                            <img src="static/assets/images/HMS.png" alt="homepage" class="dark-logo" width="88"
                                height="44" />
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item hidden-xs-down search-box"> <a
                                class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i
                                    class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-dark" href="#"><img
                                    src="static/assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>

                        </li>
                        <li class="nav-item">
                            <a href="logout" class="nav-link waves-effect waves-dark" style="color: black;">登出</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i
                                    class="mdi mdi-gauge"></i><span class="hide-menu">首页</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-profile" aria-expanded="false"><i
                                    class="mdi mdi-account-check"></i><span class="hide-menu">挂号处个人信息</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="map" aria-expanded="false"><i
                                    class="mdi mdi-earth"></i><span class="hide-menu">科室</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="map-nurse" aria-expanded="false"><i
                                    class="mdi mdi-table"></i><span class="hide-menu">输液</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="infusion-submit" aria-expanded="false"><i
                                    class="mdi mdi-emoticon"></i><span class="hide-menu">点滴提交</span></a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                正在等待的患者
                            </div>
                            <div class="card-body">
                                <table id="datatables" style="width: 100%; text-align:center;">
                                    <thead>
                                        <tr>
                                            <th>就诊状态</th>
                                            <th>姓名</th>
                                            <th>位置</th>
                                            <th>是否复诊</th>
                                            <th>年龄</th>
                                            <th>科室</th>
                                            <th>开处方</th>
                                            <th>完成就诊</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div class="modal fade" id="medicineModal" tabindex="-1" role="dialog"
                aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="fullscreenModalLabel">开药处方</h4>
                            <button type="button" onclick="close_medicineList()" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div style="display:flex;">
                            <h4 class="card-title">病人：</h4><h4 class="card-title" id="patient-name"></h4>
                        </div>
                            <div class="container">
                                
                                <div class="row">
                                    <div class="col">
                                        <div class="card" style="border-radius:10px;">
                                            <div class="card-body">
                                                <h5 class="card-title">处方</h5>

                                                <div class="ml-auto">
                                                    <table id="medicine-submit" style="width: 100%; text-align:center;">
                                                        <thead>
                                                            <tr>
                                                                <th>药名</th>
                                                                <th>剂型</th>
                                                                <th>规格</th>
                                                                <th>单价</th>
                                                                <th>数量</th>
                                                                <th>取消</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vr custom-vr"></div>
                                    <div class="col">
                                        <div class="card" style="border-radius:10px;">

                                            <div class="card-body">
                                                <h5 class="card-title">药物清单</h5>
                                                <div class="ml-auto">
                                                    <table id="medicine-list" style="width: 100%; text-align:center;">
                                                        <thead>
                                                            <tr>
                                                                <th>药名</th>
                                                                <th>剂型</th>
                                                                <th>规格</th>
                                                                <th>单价</th>
                                                                <th>库存</th>
                                                                <th>添加</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">保存更改</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="border-radius:10px;">
                            <div class="card-body">
                                <h4 class="card-title">下一站</h4>

                                <div class="ml-auto">
                                    <span>当前设备：</span>
                                    <select id="client" class="custom-select b-0">
                                        {% for client in clients %}
                                        <option value="{{ client }}">{{ client }}</option>
                                        {% endfor %}
                                    </select>
                                    <span>楼层：</span>
                                    <select id="floor" class="custom-select b-0">
                                        {% for floor in floors %}
                                        <option value="{{ floor }}">{{ floor }}</option>
                                        {% endfor %}
                                    </select>
                                    <span style="margin-left: 50px;">前往目的地：</span>
                                    <select id="target" class="custom-select b-0">
                                        {% for target in targets %}
                                        <option value="{{ target }}">{{ target }}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="submit-goto" onclick="settarget()"
                                        class="btn btn-outline-secondary">前往</button>
                                </div>
                                <div id="graph-container" class="gmaps" height="100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                © HMS <a target="_blank" href="" title="HMS"></a>
            </footer>
        </div>
    </div>

</body>

</html>