ezdxf==1.1.4
Flask==2.2.2
Flask_Login==0.6.3
Flask_MQTT==1.1.1
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
huaweicloudsdkcore==3.1.91
huaweicloudsdkiotda==3.1.91
matplotlib==3.7.2
networkx==3.2.1
numpy==1.24.3
pandas==2.0.3
pytz==2023.3.post1
Shapely==2.0.4
SQLAlchemy==2.0.25
Werkzeug==2.2.3
zhipuai==2.0.1
